@import "foundation";

.pd-bt-reset {
  padding-bottom: 0 !important;
}

.pd-reset {
  padding: 0 !important;
}
@media only screen and (min-width: 596px) {
.pd-red {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}}

@media only screen and (max-width: 596px) {
  .pd-red {
  padding-bottom: 14px !important;
  padding-top: 14px !important;
}}

.mg-reset {
  margin: 0 !important;
}

.reset {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  margin: 0 auto !important;
}
.whitefon {
  background-color: #fff;
}
.redfon {
  background-color: $redcolor !important;
}

.auto {
  margin: 0 auto !important;
}


table .block  {
  @media only screen and (max-width: 596px) {
  display: table-row-group !important;
}
}

table .true  {
  @media only screen and (max-width: 596px) {
  display: table-header-group !important;
}
}

.red {
  color: $redcolor;
  text-decoration: underline;
  font-weight: 700;
}

.greyfon {
  background-color: #2a2a2a !important;
}

.blackfon {
  background-color: #000; 
}

.white {
  color: #fff;
}

.auto-adaptive {
  @media only screen and (max-width: 596px) {
    margin: 0 auto !important;
  }
}

.tiny-text {
  font-size: 10px;
}
.block {
  padding-left: 16px !important;
  padding-right: 0 !important;
}