<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>

    <table class="body">
      <tr>
        <td>
          <center>
            <spacer size="15"></spacer>
            <container class="greyfon">
              <row>
                <columns class="pd-reset"  small="8" large="6">
                  <p class="tiny-text">Если не видите сообщение, откройте его в <a class="tiny-text red" href="#">Браузере</a></p>
                </columns>
                <columns class="pd-reset" small="4" large="6">
                  <p  class="text-right tiny-text"><a href="#" style="text-decoration: underline; color: #fff;">Отправить другу</a></p>
                </columns>
              </row>
            </container>
            <container class="redfon">
              <row>
                <columns small="4" large="2">
                  <img class="mg-reset" src="https://i.ibb.co/M9r0pQZ/desktop-logo.png" alt="logo"/>
                </columns>
                <columns small="8" valign="bottom">
                    <p class="text-right mg-reset"><a class=" white" href="tel:+79188272735">+79188272735</a>
                    </p>
                </columns>
              </row>
            </container>
              <container>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://i.ibb.co/nDbSwJ6/banner.jpg" alt="роллы со скидкой 30%" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </container>
          <spacer size="15"></spacer>
          <container class="redfon">
            <row>
              <columns>
                <spacer size="15"></spacer>
                <h1 class="text-center">Эта неделя у нас особенная</h1>
              </columns>
            </row>
          </container>
          <container>
            <spacer size="15"></spacer>
            <row >
              <columns small="12" large="6"><a href="#"><img src="https://i.ibb.co/BPKmphH/6b.jpg" alt="текка маки" /></a><row>
                <columns class="redfon pd-red" small="9" large="9"><p class="mg-reset small-text-center">"Tекка маки"</p></columns>
                <columns valign="middle" small="3" large="3" class="blackfon pd-red"><p class="text-center mg-reset">260 р</p></columns>
              </row></columns>
              <columns small="12" large="6"><a href="#"><img src="https://i.ibb.co/KxrPN8c/13b.jpg" alt="Канада" /></a><row>
                <columns class="redfon pd-red" small="9" large="9"><p class="mg-reset small-text-center">"Канада"</p></columns>
                <columns class="blackfon pd-red" small="3" large="3"><p class="text-center mg-reset">310 р</p></columns>
              </row></columns>
            </row>
            <row>
              <columns small="12" large="6"><a href="#"><img src="https://i.ibb.co/4d5J8bQ/17b.jpg" alt="каппа маки" /></a><row>
                <columns class="redfon pd-red" small="9" large="9"><p class="mg-reset small-text-center">"Каппа маки"</p></columns>
                <columns class="blackfon pd-red" small="3" large="3"><p class="text-center mg-reset">280 р</p></columns>
              </row></columns>
              <columns small="12" large="6"><a href="#"><img src="https://i.ibb.co/DzGtMLh/20b.jpg" alt="" /></a><row>
                <columns class="redfon pd-red" small="9" large="9"><p class="mg-reset small-text-center">"Магияролл"</p></columns>
                <columns class="blackfon pd-red" small="3" large="3"><p class="text-center mg-reset">280 р</p></columns>
              </row></columns>
            </row>
          </container>
          <spacer size="15"></spacer>
              <wrapper class="redfon" style="width: 100%;">
            <container class="redfon">
              <row>
                <columns small="12"><spacer size="15"></spacer><h3 class="small-text-center">О нас</h3>
                  <spacer size="10"></spacer>
                <p class="text-center">Наш суши-бар постоянно заботится о вашем положительном впечатлении от нашей кухни.</p></columns>
                <columns small="12"><spacer class="show-for-large" size="15"></spacer><h3 class="small-text-center">Контакты</h3><spacer size="10"></spacer>
                <p class="small-text-center">адрес: ул.Павленко 54</p>
                <p class="small-text-center">почта: <a class="white" href="mailto:magiya-vd@mail.ru" style="text-decoration: underline;">miyako-vd@mail.com</a></p>
              </columns>
              </row>
            </container>
          </wrapper>
          <spacer size="15"></spacer>
          <container style="background-color: transparent;">
            <row>
              <columns>
                <p class="tiny-text text-center small-text-center" >
                  Хотите отписаться от рассылки? <a href="#" class="red">Нажмите здесь</a>
                </p>
              </columns>
            </row>
          </container>
          </center>
          
        </td>
      </tr>
    </table>
    
</body>
</html>