<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
           
           
           <container >	
           	<spacer size="26"></spacer>
           		<row>
           			<columns>Can't see this Email? View it in your <a class="yellow" href="#">Browser</a></columns>
           		</row>
           		<row style="background: #eacb3c">
           			<columns class="reset" small="12" large="4" style="background-color: #282828">
           				<table>
           					<tbody>
           						<tr>
           							<td>
           								<img class="reset" src="http://www.picshare.ru/uploads/181126/uGSxvstN8l.jpg" alt="logo" /></td>
           							
           						</tr>
           					</tbody>
           				</table>
           			</columns>
           			<columns large="4" small="3"></columns>	
           			<columns valign="middle" class="last reset" large="6" >
           				
           					<menu class="" style="padding-top: 10px !important" >
           						<item>Home</item>
           						<item>Shop</item>
           						<item>Contact</item>
           					</menu>
           				</columns>
           			
           		</row>
            
          </container>
          <container>
          	<spacer size="17px"></spacer>
          	<row class="black">
          		<colunns>
          			<columns valign="middle" class="pd-bt-reset first" large="2" small="5" style="min-width: 183px !important">
          				
          				<h1 class="white">Tempo Takes you to your Destination</h3>
          					<spacer size="38"></spacer>
          				<button class="yellow-bg auto" href="#">Buy Now</button>
          			</columns>
          			<columns class="pd-reset last text-right" large="9,5" small="0" >
          				<img style="min-height: 170px !important" class="float-right" src="http://www.picshare.ru/uploads/181126/e4yMU7ZDDe.jpg" alt="картинка" class="float-right" />
          			</columns>
          		</colunns>
          	</row>
          </container>
          <spacer size="25"></spacer>
          <container>
          	<row>
          		    <columns small="12" large="5" class="reset"><img src="http://www.picshare.ru/uploads/181126/O7DP56xnQj.jpg" alt="река" class="small-float-center" />
          		</columns>
    <columns class="block" small="12" large="5" valign="middle"><spacer size="20"></spacer>
          		      <h2 class="small-text-center">Your Heading Goes Here</h2>
          		      <spacer size="15"></spacer>
          		      <p class="small-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          		      <spacer size="5"></spacer>
          		      <button class="tiny yellow-bg auto-adaptive" href="#">Learn More</button>
          		    </columns>
          	</row>
          </container>
          <container>
          	<row>
          		<columns class="block" small="12" large="5" valign="middle"><spacer size="20"></spacer>
          		      <h2 class="text-center">Full width text block Content</h2>
          		      <spacer size="15"></spacer>
          		      <p class="small-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          		      <spacer size="5"></spacer>
          		    </columns>
          	</row>
          </container>
          <container>
          	<row>
    <columns class="block" id="two" small="12" large="5" valign="middle"><spacer size="20"></spacer>
          		      <h2 class="small-text-center" small="0">Your Heading Goes Here</h2>
          		      <spacer size="15"></spacer>
          		      <p  class="small-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          		      <spacer size="5"></spacer>
          		      <button class="tiny yellow-bg auto-adaptive" href="#">Learn More</button>
          		    </columns>
          		    <columns small="12" large="5" class="true"><img src="http://www.picshare.ru/uploads/181126/O7DP56xnQj.jpg" alt="река" class="small-float-center" />
          		</columns>
          	</row>
          </container>
          <spacer size="20"></spacer>
          <container class="text-center">
          	<center class="yellow-bg">
          		<menu class="text-center">
          		  <item href="https://www.facebook.com/"><img src="http://www.picshare.ru/uploads/181126/49NpVv4q85.png" alt="картинка" /></item>
          		  <item href="https://twitter.com/?lang=ru"><img src="http://www.picshare.ru/uploads/181126/nn2JZ9B313.png" alt="картинка" /></item>
          		  <item href="https://twitter.com/?lang=ru"><img src="http://www.picshare.ru/uploads/181126/pl4Wt658gk.png" alt="картинка" /></item>
          		</menu>
          	</center>
          </container>
          <spacer size="20"></spacer>
           <container>
           	  <row>
           		<columns >
					<p class="text-center">Don't want to receive email Updates? <a class="yellow" href="#">Unsubscribe here</a></p>
				</columns>
           	  </row>
           </container>
          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>